<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dzt.kit">

    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 允许应用程序读取所有者数据 -->
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <!-- 允许应用程序写入所有者数据 -->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!--
    Android6.0权限管理
正常权限：
ACCESS_LOCATION_EXTRA_COMMANDS
ACCESS_NETWORK_STATE
ACCESS_NOTIFICATION_POLICY
ACCESS_WIFI_STATE
BLUETOOTH
BLUETOOTH_ADMIN
BROADCAST_STICKY
CHANGE_NETWORK_STATE
CHANGE_WIFI_MULTICAST_STATE
CHANGE_WIFI_STATE
DISABLE_KEYGUARD
EXPAND_STATUS_BAR
GET_PACKAGE_SIZE
INSTALL_SHORTCUT
INTERNET
KILL_BACKGROUND_PROCESSES
MODIFY_AUDIO_SETTINGS
NFC
READ_SYNC_SETTINGS
READ_SYNC_STATS
RECEIVE_BOOT_COMPLETED
REORDER_TASKS
REQUEST_IGNORE_BATTERY_OPTIMIZATIONS
REQUEST_INSTALL_PACKAGES
SET_ALARM
SET_TIME_ZONE
SET_WALLPAPER
SET_WALLPAPER_HINTS
TRANSMIT_IR
UNINSTALL_SHORTCUT
USE_FINGERPRINT
VIBRATE
WAKE_LOCK
WRITE_SYNC_SETTINGS

危险权限
权限组 	            权限
CALENDAR（日历) 	    1、READ_CALENDAR
                    2、WRITE_CALENDAR
CAMERA（相机） 	    1、CAMERA
CONTACTS（联系人） 	1、READ_CONTACTS
                    2、WRITE_CONTACTS
                    3、GET_ACCOUNTS
LOCATION（位置） 	1、ACCESS_FINE_LOCATION
                    2、ACCESS_COARSE_LOCATION
MICROPHONE（麦克风） 1、RECORD_AUDIO
PHONE（手机） 	    1、READ_PHONE_STATE
                    2、CALL_PHONE
                    3、READ_CALL_LOG
                    4、WRITE_CALL_LOG
                    5、ADD_VOICEMAIL
                    6、USE_SIP
                    7、PROCESS_OUTGOING_CALLS
SENSORS（传感器） 	1、BODY_SENSORS
SMS（短信） 	        1、SEND_SMS
                    2、RECEIVE_SMS
                    3、READ_SMS
                    4、RECEIVE_WAP_PUSH
                    5、RECEIVE_MMS
STORAGE（存储卡） 	1、READ_EXTERNAL_STORAGE
                    2、WRITE_EXTERNAL_STORAGE

检查权限：int ContextCompat.checkSelfPermission(Context, String)
申请权限：ActivityCompat.requestPermissions(Context, String[], int)
权限申请回调：onRequestPermissionsResult(int, String[], String[])
权限解释说明：ActivityCompat.shouldShowRequestPermissionRationale()
已授权：PackageManager.PERMISSION_GRANTED
未授权：PackageManager.PERMISSION_DENIED
    -->
    <application
        android:name=".LocalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserInfoActivity">
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.AboutActivity">
        </activity>
    </application>

</manifest>